*
{
    transition: 0.5s ease !important;
    font-family: Google Sans;
    color: #343a40 !important;
}
html, body
{
    height: 100%;
}
body
{
    background-image: url('https://wallpapercave.com/wp/wp2163572.jpg');
    background-size: cover;
    background-position: top left;
}
.card-body
{
    font-size: 35px;
}
.card
{
    border: 1px solid gray !important;
}
.card-header
{
    border-bottom: 1px solid gray !important;
}
.small
{
    font-size: 18px;
}
.img
{
    width: 100% !important;
}
.logos
{
    height: 100%;
}
.dark-mode
{
    width: 100px;
    text-align: left;
    padding: 0px;
    outline: none !important;
}
.form-control-plaintext
{
    line-height: 35px;
    font-size: 35px;
}
.arduino-logo
{
    transition: ease 0.1s;
    background-color: #e9ecef;
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 66px;
    border-radius: 0.25rem;
}
.nav-link
{
    height: 50px !important;
    padding: 0px !important;
}
.jumbotron
{
    border-radius: 0px;
}
.navbar
{
    background-color: #e9ecef !important;
    color: #343a40 !important;
    border-bottom: 1px solid gray !important;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #e9ecef;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e9ecef;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #abafb4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border-bottom: 1px solid gray !important;
}